/*	These apply across all breakpoints because they are outside of a media query */
		/*	Make the labels light gray all caps across the board */
		.movie-list thead th,
		.movie-list tbody th .ui-table-cell-label,
		.movie-list tbody td .ui-table-cell-label { 
			text-transform: uppercase; 
			font-size:.7em; 
			font-weight:normal;
			background:#202226;
			border-bottom: 0;
		}
		/*	White bg, large blue text for rank and title */
		.movie-list tbody th { 
			text-align:left;
		}
		/*	Add a bit of extra left padding for the title */
		.movie-list tbody td.title { 
			padding-left:.8em;
		}
		.table-stroke tbody th, .table-stroke tbody td {
		    border-bottom: 1px solid #5e616c;
		}
		th a.deleteEntry {
			padding-right: 10px;
			float:left;
		}
		.ui-table th {
		    font-weight: normal;
		}

		/*	Custom stacked styles for mobile sizes */
		/*	Use a max-width media query so we don't have to undo these styles */

		.ui-table-reflow td .ui-table-cell-label, .ui-table-reflow th .ui-table-cell-label {
		    min-width: 50%;
		}

		@media ( max-width: 40em ) {
			movie-list thead th,
			.movie-list tbody th .ui-table-cell-label,
			.movie-list tbody td .ui-table-cell-label {
				background:none
			}
			th a.deleteEntry {
				display:inline;
				float:right;
			}

			/*	Negate the margin between sections */
			.movie-list tbody th {
				margin-top: 0;
				text-align:left;
			}
			/*	White bg, large blue text for rank and title */
			.movie-list tbody th,
			.movie-list tbody td.title { 
				display: block; 
				font-size:1.2em; 
				line-height:110%;
				padding:.5em .5em;
				background-color:#202226;
				border-bottom: 0;
				color:#fff;
				-moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
			  	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
			  	box-shadow: 0 1px 6px rgba(0,0,0,.1);
			}
			/*	Hide labels for rank and title */
			.movie-list tbody th .ui-table-cell-label,
			.movie-list tbody td.title .ui-table-cell-label { 
				display: none; 
			}
			/*	Position the title next to the rank, pad to the left */
			.movie-list tbody td.title {
				margin-top:-2.1em;
				padding-left:2.2em;
				border-bottom:1px solid rgba(0,0,0,.15);
			}
			.movie-list tbody tr td:last-child {
				border:none;
			}

			.table-stroke tbody tr:last-child {
				border:none;
			}

			/*	Make the data bold */
			.movie-list th,
			.movie-list td { 
				font-weight:bold;
			}
			/* Make the label elements a percentage width
			.movie-list td .ui-table-cell-label,
			.movie-list th .ui-table-cell-label { 
				min-width: 20%; 
			} */ 
		}
		
		/* Media query to show as a standard table at wider widths */ 
		@media ( min-width: 40em ) {
			/* Show the table header rows */ 
			.movie-list td,
			.movie-list th,
			.movie-list tbody th,
			.movie-list tbody td,
			.movie-list thead td,
			.movie-list thead th {
				display: table-cell;
				margin: 0;
			}
			/* Hide the labels in each cell */ 
			.movie-list td .ui-table-cell-label,
			.movie-list th .ui-table-cell-label { 
				display: none;
			}
		}
